#listaComentario {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
}

.estrellas svg {
  display: inline-block;
  vertical-align: middle;
}

#alergenos {
  margin-top: 5px;
  /* Ajusta el margen superior según sea necesario */

  /* Ajusta el ancho máximo según sea necesario */

}


.color-naranja {
  color: rgb(122, 45, 0);
}

.calendarioFotoDescripcion {
  margin-left: 35%;
}

.formularioCrearMenu {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 60px;
}

.divPromedioComentarios {
  margin-left: 44%;
  margin-right: 30%;
  margin-top: 60px;
}

.divErrorComentarios {
  /* Ancho */
  height: 80px;
  /* Largo */
  background-color: #ffffff;
  /* Color de fondo */
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5px;
}

.linkCerrar {
  color: black;
  float: right;
}

.divSeccionComentarios {
  width: 550px;
  /* Ancho */
  height: 200px;
  /* Largo */
  background-color: #ffffff;
  /* Color de fondo */
  margin-left: 30%;
  margin-top: 20px;
}

.cabezal {
  border-bottom: 0px solid #473a3a85;
  margin-bottom: 50px;

}

/*sirve para hacer un degrade en una fuente*/
.degradeLetra {
  background: linear-gradient(to right, #e61d81, #fca92d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 200px;
  font-family: Arial;
  font-weight: bold;
}

.degradeFondo {
  background: linear-gradient(to right, #e41262, #eed78c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.float-left {
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 13vh;
}

.float-center {
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 13vh;
}

.float-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 13vh;
}

.mostrar {
  display: block;
}

.esconder {
  display: none;
}

.invisible {
  visibility: hidden;
}

.colorCalendario {
  background-color: #e6f2ff;
}

.infoNutricional {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
  text-align: left;
  font-size: 12px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 2px;
  border-bottom: 1px solid #ccc;

}

li:last-child {
  border-bottom: none;
}

li#calorias,
li#caloriasD {
  background-color: #f2f2f2;
}

li#proteinas,
li#proteinasD {
  background-color: #e6f2ff;
}

li#carbohidratos,
li#carbohidratosD {
  background-color: #f9e6ff;
}

li#grasas,
li#grasasD {
  background-color: #fff0cc;
}

li#sodio,
li#sodioD {
  background-color: #ccf2e6;
}

li#vitC,
li#vitCD {
  background-color: #ffe6cc;
}

li#hierro,
li#hierroD {
  background-color: #f2ccff;
}

a {
  text-decoration: none;
}

.estrella input[type="radio"]:checked~label {
  color: orange;
}

.estrella #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.estrella #form p {
  text-align: center;
}

.estrella #form label {
  font-size: 20px;
}

.estrella input[type="radio"] {
  display: none;
}

.estrella label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  float: inline-start;
}

.estrella label:hover,
.estrella label:hover~label {
  color: orange;
}

.estrella input[type="radio"]:checked~label {
  color: orange;
}


.linksintegrantes {
  font-size: 15px;
  color: #5F5C5B;
}

.redondaf {
  border-color: #ccc8c8;
  border-style: double;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border-width: 3px;
  vertical-align: middle;
  margin-right: 10px;
}

.listaMenu {
  color: #FF532E;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.titulo {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 50%;
}

h1 {
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* Ajusta la altura del contenedor según tus necesidades */
  width: 400px;
  border-color: #FF532E;
  border-width: 10px;
  background-color: #FF532E;
}

#divEsconderComentCompra,
#divEsconderAgregarMenu {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

#descripcionMenu,
#tituloMenu {
  color: black;
  background-color: rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(5px);
  text-align: left;
  width: fit-content;
  padding: 5px 10px;
  /* Ajusta los valores según tus necesidades */
  max-width: 250px;
}

#descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
}